<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{ asset('assets/back/images/favicon.svg') }}" type="image/x-icon" />
    <title>Facture | Backoffice</title>

    <link rel="stylesheet" href="{{ asset('assets/back/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/back/css/lineicons.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/back/css/materialdesignicons.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/back/css/main.css') }}" />
    <link rel="stylesheet" href="{{ asset('assets/back/css/custom.css') }}" />
  </head>

  <body>
    <!-- Preloader -->
    <div id="preloader"><div class="spinner"></div></div>

    <!-- ── Sidebar ─────────────────────────────── -->
    <aside class="sidebar-nav-wrapper">
      <div class="navbar-logo">
        <a href="index.html">
          <img src="{{ asset('assets/back/images/logo_dark.png') }}" alt="logo" />
        </a>
      </div>
      <nav class="sidebar-nav">
        <ul>
          <li class="nav-item nav-item-has-children">
            <a href="#0" class="collapsed" data-bs-toggle="collapse" data-bs-target="#ddmenu_1"
               aria-controls="ddmenu_1" aria-expanded="false">
              <span class="icon">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                  <path d="M8.74999 18.3333C12.2376 18.3333 15.1364 15.8128 15.7244 12.4941C15.8448 11.8143 15.2737 11.25 14.5833 11.25H9.99999C9.30966 11.25 8.74999 10.6903 8.74999 10V5.41666C8.74999 4.7263 8.18563 4.15512 7.50586 4.27556C4.18711 4.86357 1.66666 7.76243 1.66666 11.25C1.66666 15.162 4.83797 18.3333 8.74999 18.3333Z"/>
                  <path d="M17.0833 10C17.7737 10 18.3432 9.43708 18.2408 8.75433C17.7005 5.14918 14.8508 2.29947 11.2457 1.75912C10.5629 1.6568 10 2.2263 10 2.91665V9.16666C10 9.62691 10.3731 10 10.8333 10H17.0833Z"/>
                </svg>
              </span>
              <span class="text">Tableau de bord</span>
            </a>
            <ul id="ddmenu_1" class="collapse dropdown-nav">
              <li><a href="index.html">eCommerce</a></li>
            </ul>
          </li>

          <li class="nav-item nav-item-has-children">
            <a href="#0" class="collapsed" data-bs-toggle="collapse" data-bs-target="#ddmenu_2"
               aria-controls="ddmenu_2" aria-expanded="false">
              <span class="icon">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                  <path d="M11.8097 1.66667C11.8315 1.66667 11.8533 1.6671 11.875 1.66796V4.16667C11.875 5.43232 12.901 6.45834 14.1667 6.45834H16.6654C16.6663 6.48007 16.6667 6.50186 16.6667 6.5237V16.6667C16.6667 17.5872 15.9205 18.3333 15 18.3333H5.00001C4.07954 18.3333 3.33334 17.5872 3.33334 16.6667V3.33334C3.33334 2.41286 4.07954 1.66667 5.00001 1.66667H11.8097Z"/>
                  <path d="M13.125 2.29167L16.0417 5.20834H14.1667C13.5913 5.20834 13.125 4.74197 13.125 4.16667V2.29167Z"/>
                </svg>
              </span>
              <span class="text">Pages</span>
            </a>
            <ul id="ddmenu_2" class="collapse dropdown-nav">
              <li><a href="settings.html">Paramètres</a></li>
              <li><a href="blank-page.html">Page vide</a></li>
            </ul>
          </li>

          <li class="nav-item active">
            <a href="invoice.html">
              <span class="icon">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                  <path d="M3.33334 3.35442C3.33334 2.4223 4.07954 1.66666 5.00001 1.66666H15C15.9205 1.66666 16.6667 2.4223 16.6667 3.35442V16.8565C16.6667 17.5519 15.8827 17.9489 15.3333 17.5317L13.8333 16.3924C13.537 16.1673 13.1297 16.1673 12.8333 16.3924L10.5 18.1646C10.2037 18.3896 9.79634 18.3896 9.50001 18.1646L7.16668 16.3924C6.87038 16.1673 6.46298 16.1673 6.16668 16.3924L4.66668 17.5317C4.11731 17.9489 3.33334 17.5519 3.33334 16.8565V3.35442Z"/>
                </svg>
              </span>
              <span class="text">Facture</span>
            </a>
          </li>

          <li class="nav-item nav-item-has-children">
            <a href="#0" class="collapsed" data-bs-toggle="collapse" data-bs-target="#ddmenu_3"
               aria-controls="ddmenu_3" aria-expanded="false">
              <span class="icon">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                  <path d="M14.9211 10.1294C15.1652 9.88534 15.1652 9.48967 14.9211 9.24559L10.7544 5.0789C10.5103 4.83482 10.1147 4.83482 9.87057 5.0789C9.62649 5.32297 9.62649 5.71871 9.87057 5.96278L12.9702 9.06251H1.97916C1.63398 9.06251 1.35416 9.34234 1.35416 9.68751C1.35416 10.0327 1.63398 10.3125 1.97916 10.3125H12.9702L9.87057 13.4123C9.62649 13.6563 9.62649 14.052 9.87057 14.2961C10.1147 14.5402 10.5103 14.5402 10.7544 14.2961L14.9211 10.1294Z"/>
                  <path d="M11.6383 15.18L15.805 11.0133C16.5373 10.2811 16.5373 9.09391 15.805 8.36166L11.6383 4.195C11.2722 3.82888 10.7923 3.64582 10.3125 3.64582V3.02082C10.3125 2.10035 11.0587 1.35416 11.9792 1.35416H16.9792C17.8997 1.35416 18.6458 2.10035 18.6458 3.02082V16.3542C18.6458 17.2747 17.8997 18.0208 16.9792 18.0208H11.9792C11.0587 18.0208 10.3125 17.2747 10.3125 16.3542V15.7292C10.7923 15.7292 11.2722 15.5461 11.6383 15.18Z"/>
                </svg>
              </span>
              <span class="text">Authentification</span>
            </a>
            <ul id="ddmenu_3" class="collapse dropdown-nav">
              <li><a href="signin.html">Se connecter</a></li>
              <li><a href="signup.html">S'inscrire</a></li>
            </ul>
          </li>

          <span class="divider"><hr /></span>

          <li class="nav-item nav-item-has-children">
            <a href="#0" class="collapsed" data-bs-toggle="collapse" data-bs-target="#ddmenu_4"
               aria-controls="ddmenu_4" aria-expanded="false">
              <span class="icon">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                  <path d="M1.66666 5.41669C1.66666 3.34562 3.34559 1.66669 5.41666 1.66669C7.48772 1.66669 9.16666 3.34562 9.16666 5.41669C9.16666 7.48775 7.48772 9.16669 5.41666 9.16669C3.34559 9.16669 1.66666 7.48775 1.66666 5.41669Z"/>
                  <path d="M1.66666 14.5834C1.66666 12.5123 3.34559 10.8334 5.41666 10.8334C7.48772 10.8334 9.16666 12.5123 9.16666 14.5834C9.16666 16.6545 7.48772 18.3334 5.41666 18.3334C3.34559 18.3334 1.66666 16.6545 1.66666 14.5834Z"/>
                  <path d="M10.8333 5.41669C10.8333 3.34562 12.5123 1.66669 14.5833 1.66669C16.6544 1.66669 18.3333 3.34562 18.3333 5.41669C18.3333 7.48775 16.6544 9.16669 14.5833 9.16669C12.5123 9.16669 10.8333 7.48775 10.8333 5.41669Z"/>
                  <path d="M10.8333 14.5834C10.8333 12.5123 12.5123 10.8334 14.5833 10.8334C16.6544 10.8334 18.3333 12.5123 18.3333 14.5834C18.3333 16.6545 16.6544 18.3334 14.5833 18.3334C12.5123 18.3334 10.8333 16.6545 10.8333 14.5834Z"/>
                </svg>
              </span>
              <span class="text">Éléments d'interface</span>
            </a>
            <ul id="ddmenu_4" class="collapse dropdown-nav">
              <li><a href="alerts.html">Alertes</a></li>
              <li><a href="buttons.html">Boutons</a></li>
              <li><a href="cards.html">Cartes</a></li>
              <li><a href="typography.html">Typographie</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a href="tables.html">
              <span class="icon">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                  <path d="M1.66666 4.16667C1.66666 3.24619 2.41285 2.5 3.33332 2.5H16.6667C17.5872 2.5 18.3333 3.24619 18.3333 4.16667V9.16667C18.3333 10.0872 17.5872 10.8333 16.6667 10.8333H3.33332C2.41285 10.8333 1.66666 10.0872 1.66666 9.16667V4.16667Z"/>
                  <path d="M1.875 13.75C1.875 13.4048 2.15483 13.125 2.5 13.125H17.5C17.8452 13.125 18.125 13.4048 18.125 13.75C18.125 14.0952 17.8452 14.375 17.5 14.375H2.5C2.15483 14.375 1.875 14.0952 1.875 13.75Z"/>
                  <path d="M2.5 16.875C2.15483 16.875 1.875 17.1548 1.875 17.5C1.875 17.8452 2.15483 18.125 2.5 18.125H17.5C17.8452 18.125 18.125 17.8452 18.125 17.5C18.125 17.1548 17.8452 16.875 17.5 16.875H2.5Z"/>
                </svg>
              </span>
              <span class="text">Tableaux</span>
            </a>
          </li>

          <span class="divider"><hr /></span>

          <li class="nav-item">
            <a href="notification.html">
              <span class="icon">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
                  <path d="M10.8333 2.50008C10.8333 2.03984 10.4602 1.66675 9.99999 1.66675C9.53975 1.66675 9.16666 2.03984 9.16666 2.50008C9.16666 2.96032 9.53975 3.33341 9.99999 3.33341C10.4602 3.33341 10.8333 2.96032 10.8333 2.50008Z"/>
                  <path d="M11.4272 2.69637C10.9734 2.56848 10.4947 2.50006 10 2.50006C7.10054 2.50006 4.75003 4.85057 4.75003 7.75006V9.20873C4.75003 9.72814 4.62082 10.2393 4.37404 10.6963L3.36705 12.5611C2.89938 13.4272 3.26806 14.5081 4.16749 14.9078C7.88074 16.5581 12.1193 16.5581 15.8326 14.9078C16.732 14.5081 17.1007 13.4272 16.633 12.5611L15.626 10.6963C15.43 10.3333 15.3081 9.93606 15.2663 9.52773C15.0441 9.56431 14.8159 9.58339 14.5833 9.58339C12.2822 9.58339 10.4167 7.71791 10.4167 5.41673C10.4167 4.37705 10.7975 3.42631 11.4272 2.69637Z"/>
                  <path d="M7.48901 17.1925C8.10004 17.8918 8.99841 18.3335 10 18.3335C11.0016 18.3335 11.9 17.8918 12.511 17.1925C10.8482 17.4634 9.15183 17.4634 7.48901 17.1925Z"/>
                </svg>
              </span>
              <span class="text">Notifications</span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="promo-box">
        <div class="promo-icon">
          <img class="mx-auto" src="{{ asset('assets/back/images/logo_dark.png') }}" alt="Logo" />
        </div>
        <h3>Upgrade to PRO</h3>
        <p>Improve your development process and start doing more with BizHub Pro!</p>
        <a href="https://plainadmin.com/pro" target="_blank" rel="nofollow" class="main-btn primary-btn btn-hover">
          Upgrade to PRO
        </a>
      </div>
    </aside>
    <div class="overlay"></div>
    <!-- ── /Sidebar ─────────────────────────────── -->

    <!-- ── Main ────────────────────────────────── -->
    <main class="main-wrapper">

      <!-- Header -->
      <header class="header">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-5 col-md-5 col-6">
              <div class="header-left d-flex align-items-center">
                <div class="menu-toggle-btn mr-15">
                  <button id="menu-toggle" class="main-btn primary-btn btn-hover">
                    <i class="lni lni-chevron-left me-2"></i> Menu
                  </button>
                </div>
                <div class="header-search d-none d-md-flex">
                  <form action="#">
                    <input type="text" placeholder="Rechercher..." />
                    <button type="button"><i class="lni lni-search-alt"></i></button>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-lg-7 col-md-7 col-6">
              <div class="header-right">
                <div class="notification-box ml-15 d-none d-md-flex">
                  <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown">
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none">
                      <path d="M11 20.1667C9.88317 20.1667 8.88718 19.63 8.23901 18.7917H13.761C13.113 19.63 12.1169 20.1667 11 20.1667Z" fill="currentColor"/>
                      <path d="M10.1157 2.74999C10.1157 2.24374 10.5117 1.83333 11 1.83333C11.4883 1.83333 11.8842 2.24374 11.8842 2.74999V2.82604C14.3932 3.26245 16.3051 5.52474 16.3051 8.24999V14.287C16.3051 14.5301 16.3982 14.7633 16.564 14.9352L18.2029 16.6342C18.4814 16.9229 18.2842 17.4167 17.8903 17.4167H4.10961C3.71574 17.4167 3.5185 16.9229 3.797 16.6342L5.43589 14.9352C5.6017 14.7633 5.69485 14.5301 5.69485 14.287V8.24999C5.69485 5.52474 7.60672 3.26245 10.1157 2.82604V2.74999Z" fill="currentColor"/>
                    </svg>
                    <span></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a href="#0">
                        <div class="image"><img src="{{ asset('assets/back/images/lead/lead-6.png') }}" alt="" /></div>
                        <div class="content">
                          <h6>John Doe <span class="text-regular">a commenté un produit.</span></h6>
                          <p>Lorem ipsum dolor sit amet...</p>
                          <span>Il y a 10 min</span>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>

                <div class="header-message-box ml-15 d-none d-md-flex">
                  <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown">
                    <svg width="22" height="22" viewBox="0 0 22 22" fill="none">
                      <path d="M14.6667 13.75C14.6667 17.2938 11.7939 20.1667 8.25004 20.1667C7.11011 20.1667 6.03962 19.8694 5.11182 19.3482L2.76946 20.129C2.21421 20.3141 1.68597 19.7858 1.87105 19.2306L2.65184 16.8882C2.13062 15.9604 1.83338 14.89 1.83338 13.75C1.83338 10.2062 4.70622 7.33333 8.25004 7.33333C11.7939 7.33333 14.6667 10.2062 14.6667 13.75Z" fill="currentColor"/>
                    </svg>
                    <span></span>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li>
                      <a href="#0">
                        <div class="image"><img src="{{ asset('assets/back/images/lead/lead-5.png') }}" alt="" /></div>
                        <div class="content">
                          <h6>Jacob Jones</h6>
                          <p>Hey! I came across your profile...</p>
                          <span>Il y a 10 min</span>
                        </div>
                      </a>
                    </li>
                  </ul>
                </div>

                <div class="profile-box ml-15">
                  <button class="dropdown-toggle bg-transparent border-0" type="button" data-bs-toggle="dropdown">
                    <div class="profile-info">
                      <div class="info">
                        <div class="image">
                          <img src="{{ asset('assets/back/images/profile/profile-image.png') }}" alt="" />
                        </div>
                        <div>
                          <h6>Adam Joe</h6>
                          <p>Admin</p>
                        </div>
                      </div>
                    </div>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li><a href="#0"><i class="lni lni-user"></i> Profil</a></li>
                    <li><a href="#0"><i class="lni lni-cog"></i> Paramètres</a></li>
                    <li class="divider"></li>
                    <li><a href="#0"><i class="lni lni-exit"></i> Déconnexion</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <!-- /Header -->

      <!-- Section -->
      <section>
        <div class="container-fluid">

          <!-- Title -->
          <div class="title-wrapper pt-30">
            <div class="row align-items-center">
              <div class="col-md-6">
                <div class="title d-flex align-items-center flex-wrap gap-3">
                  <h2>Facture</h2>
                  <a href="#0" class="main-btn primary-btn btn-hover btn-sm">
                    <i class="lni lni-plus me-1"></i> Nouvelle facture
                  </a>
                </div>
              </div>
              <div class="col-md-6">
                <div class="breadcrumb-wrapper">
                  <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="index.html">Tableau de bord</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Facture</li>
                    </ol>
                  </nav>
                </div>
              </div>
            </div>
          </div>
          <!-- /Title -->

          <!-- ═══════════════════════════════════════
               INVOICE CARD
          ═══════════════════════════════════════ -->
          <div class="invoice-premium-wrapper">
            <div class="row">
              <div class="col-12">
                <div class="invoice-card invoice-premium-card mb-30">

                  <!-- ── Top row: title + actions -->
                  <div class="invoice-premium-top">
                    <div>
                      <span class="invoice-premium-badge">
                        <i class="lni lni-checkmark-circle me-1"></i>
                        Facture émise
                      </span>
                      <h2>Facture #5467</h2>
                      <p>Design et développement du tableau de bord administrateur</p>
                    </div>
                    <div class="invoice-premium-actions">
                      <a href="#0" class="main-btn primary-btn-outline btn-hover">
                        <i class="lni lni-download me-1"></i> Télécharger PDF
                      </a>
                      <a href="#0" class="main-btn primary-btn btn-hover">
                        <i class="lni lni-envelope me-1"></i> Envoyer
                      </a>
                    </div>
                  </div>

                  <!-- ── Brand + Meta row -->
                  <div class="invoice-premium-head">
                    <div class="invoice-brand-box">
                      <img src="{{ asset('assets/back/images/logo_dark.png') }}" alt="logo" onerror="this.style.display='none'" />
                      <div>
                        <h4>UIdeck Studio</h4>
                        <span>Facturation &amp; gestion client</span>
                      </div>
                    </div>
                    <div class="invoice-meta-grid">
                      <div class="invoice-meta-item">
                        <span>Date d'émission</span>
                        <strong>20 / 02 / 2024</strong>
                      </div>
                      <div class="invoice-meta-item">
                        <span>Date d'échéance</span>
                        <strong>20 / 03 / 2024</strong>
                      </div>
                      <div class="invoice-meta-item">
                        <span>N° commande</span>
                        <strong>#5467</strong>
                      </div>
                    </div>
                  </div>

                  <!-- ── Addresses row -->
                  <div class="invoice-premium-address">
                    <div class="invoice-address-card">
                      <span class="invoice-address-label">De</span>
                      <h3>John Doe</h3>
                      <p>3891 Ranchview Dr. Richardson, California 62639</p>
                      <p><strong>Tél :</strong> +1 (555) 000-1234</p>
                      <p><strong>Email :</strong> <a href="mailto:john@example.com">john@example.com</a></p>
                    </div>
                    <div class="invoice-address-card">
                      <span class="invoice-address-label">À</span>
                      <h3>Santa Gosh</h3>
                      <p>2972 Westheimer Rd. Santa Ana, Illinois 85486</p>
                      <p><strong>Tél :</strong> +1 (555) 000-5678</p>
                      <p><strong>Email :</strong> <a href="mailto:santa@example.com">santa@example.com</a></p>
                    </div>
                  </div>

                  <!-- ── Services table -->
                  <div class="invoice-table-wrap">
                    <table class="table invoice-premium-table">
                      <thead>
                        <tr>
                          <th>Service</th>
                          <th>Description</th>
                          <th>Quantité</th>
                          <th>Prix unitaire</th>
                          <th>Total</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Admin Dashboard</td>
                          <td>Design &amp; développement du service</td>
                          <td>3</td>
                          <td>233 $</td>
                          <td>700 $</td>
                        </tr>
                        <tr>
                          <td>Landing Page</td>
                          <td>Design &amp; développement du kit UI</td>
                          <td>1</td>
                          <td>1 000 $</td>
                          <td>1 000 $</td>
                        </tr>
                        <tr>
                          <td>Web Design</td>
                          <td>Design, développement &amp; SEO</td>
                          <td>2</td>
                          <td>2 000 $</td>
                          <td>4 000 $</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <!-- ── Totals -->
                  <div class="invoice-total-box">
                    <div class="invoice-total-line">
                      <span>Sous-total</span>
                      <strong>5 700 $</strong>
                    </div>
                    <div class="invoice-total-line">
                      <span>Remise (45%)</span>
                      <strong>− 2 565 $</strong>
                    </div>
                    <div class="invoice-total-line">
                      <span>Livraison</span>
                      <strong>Gratuite</strong>
                    </div>
                    <div class="invoice-total-line total">
                      <span>Total TTC</span>
                      <strong>3 135 $</strong>
                    </div>
                  </div>

                  <!-- ── Note -->
                  <div class="invoice-note-card">
                    <h5><i class="lni lni-information me-1"></i> Note de paiement</h5>
                    <p>
                      Tous les comptes doivent être réglés dans un délai de <strong>7 jours</strong> après réception de la facture.
                      Le paiement peut être effectué par chèque, carte bancaire ou règlement en ligne.
                      En cas de retard, des pénalités de 1,5% par mois seront appliquées sur le montant dû.
                    </p>
                  </div>

                </div><!-- /invoice-premium-card -->
              </div>
            </div>
          </div>
          <!-- /Invoice -->

        </div>
      </section>

      <!-- Footer -->
      <footer class="footer">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 order-last order-md-first">
              <div class="copyright text-center text-md-start">
                <p class="text-sm">
                  Conçu et développé par
                  <a href="https://plainadmin.com" rel="nofollow" target="_blank">BizHub</a>
                </p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="terms d-flex justify-content-center justify-content-md-end">
                <a href="#0" class="text-sm">Termes et conditions</a>
                <a href="#0" class="text-sm ml-15">Politique de confidentialité</a>
              </div>
            </div>
          </div>
        </div>
      </footer>

    </main>
    <!-- ── /Main ────────────────────────────────── -->

    <script src="{{ asset('assets/back/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ asset('assets/back/js/main.js') }}"></script>
  </body>
</html>